:root {
  --purple: #2e2d62;
  --yellow: rgb(255, 181, 83);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", arial, sans-serif;
}

ul {
  list-style-position: inside;
}

.nav {
  background-color: var(--purple);
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px 0 rgba(57, 57, 57, 0.4);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__contact {
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  .nav__contact {
    font-size: 0.9rem;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main {
  /* the National Collection gray – a bit dark for my taste */
  /* background-color: #e5e5e5; */
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__content {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 5rem 3rem;
}

@media only screen and (max-width: 600px) {
  .main__content {
    padding: 3rem 3rem;
    gap: 2rem;
  }
}

@media only screen and (max-width: 400px) {
  .main__content {
    padding: 3rem 1rem;
  }
}

.main__title {
  color: var(--purple);
  font-size: 3rem;
  font-weight: bolder;
  line-height: 1.1;
}

@media only screen and (max-width: 600px) {
  .main__title {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 370px) {
  .main__title {
    font-size: 1.5rem;
  }
}

.main__section {
  background-color: white;
  padding: 5rem;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(57, 57, 57, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  font-size: 1.2rem;
  color: rgb(20, 20, 20);
}

@media only screen and (max-width: 600px) {
  .main__section {
    font-size: 1rem;
    padding: 2rem;
  }
}

@media only screen and (max-width: 370px) {
  .main__section {
    font-size: 0.8rem;
  }
}

.logo {
  display: none;
  align-items: center;
  gap: 1rem;
}

@media only screen and (max-width: 600px) {
  .logo {
    display: flex;
  }
}

.logo__text {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.2;
}

@media only screen and (max-width: 600px) {
  .logo__text {
    font-size: 0.9rem;
  }
}

.logo__text--emphasis {
  font-style: bold;
  color: var(--yellow);
}

.logo--full {
  display: block;
}

@media only screen and (max-width: 600px) {
  .logo--full {
    display: none;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3rem 1.5rem;
  box-shadow: 0 0px 5px rgba(57, 57, 57, 0.1);
  overflow: hidden;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.footer__img {
  position: relative;
}

/* Links */
a:link {
  color: var(--purple);
}

a:visited {
  color: var(--purple);
}

a:hover {
  color: var(--yellow);
}

a:active {
  color: var(--yellow);
}

.nav__contact a:link {
  color: white;
  text-decoration: none;
}

.nav__contact a:visited {
  color: white;
}

.nav__contact a:hover {
  color: var(--yellow);
}

.nav__contacta:active {
  color: var(--yellow);
}
